@charset "utf-8";
/* CSS Document */

body { margin:0; padding:0; background: #C1D6F7; }

/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 320px)  and (max-device-width : 480px) { */

@media only screen and (min-device-width : 320px)  and (max-device-width : 480px) and { 

.wrapper { width: 90%; margin: 20px auto;  border: solid 1px #84B5DD; min-height: 250px; height:auto; background: #E1F2FB; border-radius:6px; padding:5%; max-width:320px; color: #09C; }
.wrapper h1 { font-size: 0.9em; }
.wrapper p{ font-size: 0.8em; }
}

@media only screen and (min-width : 320px)  and (max-width : 480px) {

.wrapper { width: 90%; margin: 20px auto;  border: solid 1px #84B5DD; min-height: 250px; height:auto; background: #E1F2FB; border-radius:6px; padding:5%; max-width:320px; color: #09C; }
.wrapper h1 { font-size: 0.9em; }
.wrapper p{ font-size: 0.8em; }
}